<div class="jumbotron animated fadeIn">
  <h1 class="display-4">Comic App!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  
</div>