<h1 class="lead">Heroes</h1>
<div class="card-columns">
        <!-- (heroeSeleccionado)="verHeroe($event)" -->
    <app-heroe-tarjeta [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index" ></app-heroe-tarjeta>
</div>