
<div *ngIf="heroes.length === 0"  class="row">
  <div class="col-md-12">
    <div class="alert alert-info">
      No existen resultados con el termino: {{termino}}
    </div>
  </div>
</div>
<div class="card-columns">
  <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes; let i = index" ></app-heroe-tarjeta>
</div> 