
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img src="{{heroe.img}}" alt="" class="img-fluid">
    <button (click)="back()"  class="btn btn-outline-primary btn-block my-3">Regresar</button>
  </div>
  <div class="col-md-8">
    <h3 class="display-4">{{heroe.nombre | uppercase}} <small class="text-muted lead">{{heroe.aparicion | date:'y'}}</small> </h3>
    
    <hr>
    <p class="lead">{{heroe.bio}}</p>
    <div>
        <img *ngIf="heroe.casa ==='DC'"  src="../../../assets/img/logo_dc.jpg" alt="" class="img-fluid d-block mx-auto" width="300">
        <img *ngIf="heroe.casa ==='Marvel'" src="../../../assets/img/logo_marvel.png" alt="" class="img-fluid d-block mx-auto" width="300">
    </div>
  </div>
</div>